# IDE & System Related Files
.buildpath
.project
.settings
.DS_Store
.idea
.vscode
node_modules/

# OSX
._*
.Spotlight-V100
.Trashes
.DS_Store
**/.DS_Store
**/**/.DS_Store
**/**/**/.DS_Store

# Windows
Thumbs.db
Desktop.ini
