
/*===== Main panel/container ===== */
#sa11y-container,
#sa11y-container * {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "FontAwesome", sans-serif !important;
    line-height: 23px !important;
    text-transform: none !important;
}

#sa11y-container svg,
.sa11y-link-warning-btn svg {
    overflow: hidden !important;
    vertical-align: middle !important;
}

#sa11y-container .sa11y-panel {
    z-index: 8890 !important;
    background: #fff !important;
    box-shadow: 0 0 20px 4px rgba(154, 161, 177, 0.15), 0 4px 80px -8px rgba(36, 40, 47, 0.25), 0 4px 4px -2px rgba(91, 94, 105, 0.15) !important;
    position: fixed !important;
    bottom: 60px !important;
    right: 55px !important;
    width: 310px !important;
    text-align: left !important;
    overflow: hidden !important;
    transform-origin: 100% 100% !important;
    border-radius: 0.25em !important;
    transition: transform 0.2s, opacity 0.2s !important;
    transform: scale(0);
    opacity: 0;
}
#sa11y-container .sa11y-panel a {
    text-decoration: underline !important;
    color: #004c9b !important;
    border-bottom: 0px !important;
}
#sa11y-container .sa11y-panel a:hover,
#sa11y-container .sa11y-panel a:focus {
    text-decoration: none !important;
}
#sa11y-container .sa11y-panel.sa11y-active {
    height: auto;
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: transform 0.2s, opacity 0.2s;
}
#sa11y-container .sa11y-panel-header {
    padding: 15px 15px 15px 15px !important;
    color: #333333 !important;
    line-height: 22px !important;
}
#sa11y-container .sa11y-outline-header {
    padding: 10px 15px 0 15px !important;
    color: #4d4d4d !important;
    line-height: 22px !important;
}
.sa11y-bold {
    font-weight: 700 !important;
}
#page-outline-header {
    font-size: 16px !important;
}
#sa11y-no-errors,
#sa11y-warnings,
#sa11y-errors-found,
#sa11y-page-outline {
    opacity: 0;
    display: none;
}
#sa11y-no-errors.sa11y-active,
#sa11y-warnings.sa11y-active,
#sa11y-errors-found.sa11y-active,
#sa11y-page-outline.sa11y-active,
#sa11y-summary-toggle.sa11y-active {
    opacity: 1;
    display: table;
}
#sa11y-page-outline {
    padding-bottom: 0px !important;
    width: 100%;
    transition: all 0.6s ease;
}
#sa11y-container .sa11y-th-img svg {
    margin: 5px 15px 0 0;
}
#sa11y-container .sa11y-hide-native-checkbox {
    position: fixed;
    bottom: 45px;
    right: 30px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
}
#sa11y-container .sa11y-main-toggle-style {
    position: fixed !important;
    bottom: 50px !important;
    right: 30px !important;
    background-image: linear-gradient(to top, #e040fb, #00bcd4) !important;
    background-size: 150% 150% !important;
    color: #fff !important;
    border-radius: 50px !important;
    box-shadow: 2px 2px 20px #0000005c !important;
    -moz-box-shadow: 2px 2px 20px #0000005c !important;
    -webkit-box-shadow: 2px 2px 20px #0000005c !important;
    cursor: pointer !important;
    padding: 10px !important;
    margin: 0px !important;
    z-index: 99999 !important;
    transition: all 0.2s ease-in-out;
}
#sa11y-container .sa11y-main-toggle-style:hover {
    -webkit-animation: sa11y-toggle-gradient 3s ease;
    -moz-animation: sa11y-toggle-gradient 3s ease;
    animation: sa11y-toggle-gradient 3s ease;
}
#sa11y-container .sa11y-toggle-active {
    background-image: linear-gradient(to bottom, #e040fb, #00bcd4) !important;
}
label.sa11y-main-toggle-style:after {
    content: none !important;
}
#sa11y-container .allytogglefocus {
    transform: scale(1.09);
    background-image: linear-gradient(to bottom, #e040fb, #00bcd4) !important;
}
#sa11y-container .sa11y-td-msg {
    vertical-align: middle;
    display: table-cell;
    font-size: 16px !important;
}
#sa11y-container .sa11y-th-img {
    vertical-align: middle;
    display: table-cell;
}

.sa11y-badge {
    display: inline !important;
    min-width: 10px !important;
    padding: 3px 7px !important;
    font-size: 12px !important;
    font-weight: 700 !important;
    color: #4d4d4d !important;
    vertical-align: middle !important;
    white-space: nowrap !important;
    text-align: center !important;
    background-color: #e9e9e9 !important;
    border-radius: 10px !important;
}
.sa11y-error-badge {
    background: #c22326 !important;
    color: #fff !important;
}

#sa11y-outline-list .sa11y-outline-2 {
    margin-left: 15px !important;
}
#sa11y-outline-list .sa11y-outline-3 {
    margin-left: 30px !important;
}
#sa11y-outline-list .sa11y-outline-4 {
    margin-left: 45px !important;
}
#sa11y-outline-list .sa11y-outline-5 {
    margin-left: 60px !important;
}
.sa11y-outline-6 {
    margin-left: 75px !important;
}
#sa11y-outline-list {
    list-style-type: none !important;
    margin: 0 !important;
    padding: 0 0 10px 0px !important;
    outline: 0 !important;
    max-height: 350px !important;
    overflow-y: auto !important;
    border-bottom: 1px solid #dbdbdbbf !important;
}
#sa11y-outline-list li,
#sa11y-outline-list ul {
    padding: 0 !important;
    font-size: 15px !important;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}
#sa11y-outline-list::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
#sa11y-outline-list::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
#sa11y-summary-toggle {
    opacity: 0;
    display: none;
    border-radius: 0 !important;
    background-color: #f6f6f6 !important;
    background: #f6f6f6 !important;
    width: 100% !important;
    padding: 0px !important;
    margin: 0px !important;
    color: #4d4d4d !important;
    font-size: 15px !important;
    border-bottom: 0 !important;
    border-top: 1px solid #d7d7d7 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    outline: 0 !important;
    cursor: pointer !important;
    font-weight: 400 !important;
    height: 30px !important;
    line-height: 0 !important;
}
button#sa11y-summary-toggle:focus,
button#sa11y-summary-toggle:hover {
    box-shadow: inset 0 0 6px #0077c8;
    background: #e1e1e1;
}
.sa11y-btn-active {
    box-shadow: inset 0 0 5px #0000002e;
}
.sa11y-popover-toggle {
    display: inline-block;
}

#sa11y-container .loading-spinner:before {
    content: "";
    position: absolute;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin: -10px;
    border: 4px solid rgba(255, 255, 255, 0.9);
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    -webkit-animation: rotate 2s ease;
    animation: rotate 2s ease;
    animation-fill-mode: forwards;
}

/*===== Error, Warning, Pass buttons ===== */
button.sa11y-error-btn {
    font-size: 0 !important;
    width: 44px !important;
    height: 44px !important;
    line-height: normal !important;
    border-radius: 50% !important;
    position: absolute !important;
    margin: 10px !important;
    z-index: 8888 !important;
    border: 1px solid #d30017 !important;
    display: block !important;
    padding: 0px !important;
    vertical-align: middle !important;
    background-color: #d30017 !important;
    background: #d30017 !important;
    cursor: pointer !important;
    -moz-box-shadow: 0 0 16px 0 #0000004f !important;
    -webkit-box-shadow: 0 0 16px 0 #0000004f !important;
    box-shadow: 0 0 16px 0 #0000004f !important;
    transition: all 0.2s ease-in-out !important;
    min-width: 0 !important;
}
button.sa11y-error-btn:hover,
button.sa11y-error-btn:focus {
    background-color: #ff0000 !important;
}
button.sa11y-error-btn:focus {
    box-shadow: inset 0 0 0 2px #d30017 !important;
    -moz-box-shadow: inset 0 0 0 2px #d30017 !important;
    -webkit-box-shadow: inset 0 0 0 2px #d30017 !important;
}
button.sa11y-pass-btn {
    font-size: 0 !important;
    width: 44px !important;
    height: 44px !important;
    line-height: normal !important;
    border-radius: 50% !important;
    border: 1px solid #36844e !important;
    margin: 10px !important;
    position: absolute !important;
    z-index: 8888 !important;
    padding: 0px !important;
    vertical-align: middle !important;
    background-color: #36844e !important;
    background: #36844e !important;
    cursor: pointer !important;
    -webkit-box-shadow: 0 0 16px 0 #0000004f !important;
    -moz-box-shadow: 0 0 16px 0 #0000004f !important;
    box-shadow: 0 0 16px 0 #0000004f !important;
    transition: all 0.2s ease-in-out !important;
    min-width: 0 !important;
}
button.sa11y-text-pass-btn {
    font-size: 0 !important;
    width: 44px !important;
    height: 44px !important;
    line-height: normal !important;
    border-radius: 50% !important;
    border: none !important;
    position: absolute !important;
    margin: -30px 10px !important;
    z-index: 8888 !important;
    padding: 0px !important;
    vertical-align: middle !important;
    background-color: #36844e !important;
    background: #36844e !important;
    cursor: pointer !important;
    -webkit-box-shadow: 0 0 16px 0 #0000004f !important;
    -moz-box-shadow: 0 0 16px 0 #0000004f !important;
    box-shadow: 0 0 16px 0 #0000004f !important;
    transition: all 0.2s ease-in-out !important;
    min-width: 0 !important;
}
button.sa11y-text-pass-btn:hover,
button.sa11y-pass-btn:hover,
button.sa11y-pass-btn:focus,
button.sa11y-text-pass-btn:focus {
    background-color: #38a459 !important;
}
button.sa11y-pass-btn:focus,
button.sa11y-text-pass-btn:focus {
    box-shadow: inset 0 0 0 2px #36844e !important;
    -moz-box-shadow: inset 0 0 0 2px #36844e !important;
    -webkit-box-shadow: inset 0 0 0 2px #36844e !important;
}
button.sa11y-warning-btn {
    font-size: 0 !important;
    margin: 10px !important;
    padding: 0px !important;
    width: 44px !important;
    height: 44px !important;
    line-height: normal !important;
    border-radius: 50% !important;
    border: 1px solid #ffc800 !important;
    position: absolute !important;
    z-index: 8888 !important;
    vertical-align: middle !important;
    background-color: #ffc800 !important;
    background: #ffc800 !important;
    -moz-box-shadow: 0 0 16px 0 #0000004f !important;
    -webkit-box-shadow: 0 0 16px 0 #0000004f !important;
    box-shadow: 0 0 16px 0 #0000004f !important;
    cursor: pointer !important;
    transition: all 0.2s ease-in-out !important;
    min-width: 0 !important;
}
button.sa11y-warning-btn:focus,
button.sa11y-warning-btn:hover {
    background-color: #ffd042 !important;
}
button.sa11y-warning-btn:focus {
    box-shadow: inset 0 0 0 2px #ffc800 !important;
    -moz-box-shadow: inset 0 0 0 2px #ffc800 !important;
    -webkit-box-shadow: inset 0 0 0 2px #ffc800 !important;
}
button.sa11y-link-warning-btn {
    font-size: 0 !important;
    padding: 0px !important;
    width: 44px !important;
    height: 44px !important;
    line-height: normal !important;
    border-radius: 50% !important;
    border: 1px solid #ffc800 !important;
    position: absolute !important;
    margin: -30px 10px !important;
    z-index: 8888 !important;
    vertical-align: middle !important;
    background-color: #ffc800 !important;
    background: #ffc800 !important;
    -moz-box-shadow: 0 0 16px 0 #0000004f !important;
    -webkit-box-shadow: 0 0 16px 0 #0000004f !important;
    box-shadow: 0 0 16px 0 #0000004f !important;
    cursor: pointer !important;
    transition: all 0.2s ease-in-out !important;
    min-width: 0 !important;
}
button.sa11y-link-warning-btn:focus,
button.sa11y-link-warning-btn:hover {
    background-color: #ffd226 !important;
}
button.sa11y-link-warning-btn:focus {
    box-shadow: inset 0 0 0 2px #ffc800 !important;
    -moz-box-shadow: inset 0 0 0 2px #ffc800 !important;
    -webkit-box-shadow: inset 0 0 0 2px #ffc800 !important;
}
button.sa11y-error-text-btn {
    font-size: 0 !important;
    width: 44px !important;
    height: 44px !important;
    line-height: normal !important;
    margin: -30px 10px !important;
    border-radius: 50% !important;
    border: 1px solid #d30017 !important;
    position: absolute !important;
    z-index: 8888 !important;
    padding: 0px !important;
    vertical-align: middle !important;
    background-color: #d30017 !important;
    background: #d30017 !important;
    cursor: pointer !important;
    -moz-box-shadow: 0 0 16px 0 #0000004f !important;
    -webkit-box-shadow: 0 0 16px 0 #0000004f !important;
    box-shadow: 0 0 16px 0 #0000004f !important;
    transition: all 0.2s ease-in-out !important;
    min-width: 0 !important;
}
button.sa11y-error-text-btn:hover,
button.sa11y-error-text-btn:focus {
    background-color: #ff0000 !important;
}
button.sa11y-error-text-btn:focus {
    box-shadow: inset 0 0 0 2px #d30017 !important;
    -moz-box-shadow: inset 0 0 0 2px #d30017 !important;
    -webkit-box-shadow: inset 0 0 0 2px #d30017 !important;
}

.sr-only {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
    display: block;
    white-space: nowrap;
    clip-path: inset(50%);
}

/*===== Body styles ===== */

.sa11y-red-text,
.sa11y-red-text strong {
    color: #ba0013 !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
    font-size: 15px !important;
}

.sa11y-headings-fail {
    color: #c22326 !important;
}
.sa11y-error-border {
    outline: 5px solid #c22326 !important;
}
.sa11y-warning-border {
    outline: 5px solid #ffc800 !important;
}

.sa11y-link-text-fail {
    background-color: #c22326 !important;
    border-radius: 0.25em !important;
    padding: 5px !important;
    color: white !important;
}

.sa11y-text-warning,
.sa11y-uppercase-warning {
    color: black !important;
    background-color: #ffc800 !important;
    border-radius: 0.25em !important;
    padding: 5px !important;
}

.sa11y-error-message {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
    font-size: 16px !important;
    padding: 15px;
    background-color: #c22326 !important;
    text-align: center;
    color: #fff;
}
.sa11y-error-message a {
    color: #fff !important;
    text-decoration: underline !important;
    border: 0 !important;
}
.sa11y-error-message a:hover,
.sa11y-error-message a:focus {
    text-decoration: none !important;
}

span.sa11y-headings-label {
    font-size: 15px !important;
    padding: 3px !important;
    border-radius: 3px !important;
    position: absolute !important;
    background-color: #777678 !important;
    background-image: linear-gradient(to bottom right, #b629ce, #16aec2);
    color: white !important;
    margin: -5px 0 0 5px !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "FontAwesome", sans-serif !important;
}

/*===== Animations ===== */

@-webkit-keyframes sa11y-toggle-gradient {
    0% {
        background-position: 50% 0%;
    }
    50% {
        background-position: 50% 100%;
    }
    100% {
        background-position: 50% 0%;
    }
}
@-moz-keyframes sa11y-toggle-gradient {
    0% {
        background-position: 50% 0%;
    }
    50% {
        background-position: 50% 100%;
    }
    100% {
        background-position: 50% 0%;
    }
}
@keyframes sa11y-toggle-gradient {
    0% {
        background-position: 50% 0%;
    }
    50% {
        background-position: 50% 100%;
    }
    100% {
        background-position: 50% 0%;
    }
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    100% {
        border: 4px solid rgba(255, 255, 255, 0.05);
    }
}
@keyframes rotate {
    0% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    100% {
        border: 4px solid rgba(255, 255, 255, 0.05);
    }
}

@media (prefers-reduced-motion: reduce) {
    #sa11y-container > * {
        animation: none;
    }
}

/*===== Tooltip additions ===== */

.sa11y-hr {
    padding: 0 !important;
    margin: 10px 0 !important;
    border: none !important;
    background: #dcdcdc !important;
    height: 1px !important;
}

/*===== Custom tippy theme for Sa11y ===== */

.tippy-box * {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
}
.tippy-box[data-theme~="sa11y-theme"] {
    background-color: white !important;
    color: #333333 !important;
    padding: 8px !important;
    font-size: 15px !important;
    box-shadow: 0 0 20px 4px rgba(154, 161, 177, 0.15), 0 4px 80px -8px rgba(36, 40, 47, 0.25), 0 4px 4px -2px rgba(91, 94, 105, 0.15) !important;
    font-weight: normal !important;
}
.tippy-heading {
    font-size: 17px !important;
    font-weight: 600 !important;
}
.tippy-box[data-theme~="sa11y-theme"][data-placement^="top"] > .tippy-arrow::before {
    border-top-color: white;
}
.tippy-box[data-theme~="sa11y-theme"][data-placement^="bottom"] > .tippy-arrow::before {
    border-bottom-color: white;
}
.tippy-box[data-theme~="sa11y-theme"][data-placement^="left"] > .tippy-arrow::before {
    border-left-color: white;
}
.tippy-box[data-theme~="sa11y-theme"][data-placement^="right"] > .tippy-arrow::before {
    border-right-color: white;
}
.sa11y-instance-inline {
    text-align: left !important;
    display: inline-block !important;
}
