.jumbotron {
    margin-bottom: 0rem!important
}

main a, footer a {
    color: #0065d1!important;
    text-decoration: underline !important;
}

main a:hover,
main a:focus {
    text-decoration: none!important
}
.btn-primary {
    color: #fff!important;
    background-color:#245ec5!important;
    border-color:#245ec5!important;
  }

.list-group-item.active {
    color: white!important;
    background-color: #005fc5!important;
    border-color: #005fc5!important
}

.nav-link {
    color: white!important
}

.nav-link:focus,
.nav-link:hover {
    text-decoration: underline!important;
    color: aqua!important
}

.sa11y-website-frame-message {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    background-color: #6a00aa!important;
    text-align: center;
    color: #fff;
    display: flex;
    height: 50px
}

.sa11y-website-frame-message a {
    color: white;
    text-decoration: underline;
    font-size: 15px
}

.sa11y-website-frame-message a:hover,
.sa11y-website-frame-message a:focus {
    text-decoration: none;
    color: white;
}

.sa11y-website-frame-message p {
    margin: auto
}

.background-image {
    padding: 20px;
    background: #000 url(https://www.transparenttextures.com/patterns/subtle-grey.png) repeat
}

a.list-group-item {
    text-decoration: none
}

.blockquote {
    font-size: 1.25rem;
    border-left: .5rem solid rgba(0, 123, 255, .54);
    color: #3d3d3d;
    background-color: #e2efff;
    line-height: 1.6;
    margin: .8rem auto;
    position: relative;
    padding: 20px;
    width: 100%
}

a {
    color: #0067d6;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.announcement-component {
    border: 3px solid #5BC2F4;
    background-color: #ffffff;
    border: 3px solid #004C9B;
    padding: 15px;
    font-size: 1.2em;
    font-weight: 500;
}
