:root {
  --font-primary: system-ui, "Segoe UI", roboto, helvetica, arial, sans-serif;
  --font-secondary:
    consolas, monaco, "Ubuntu Mono", "Liberation Mono", "Courier New", courier, monospace;
  --body-text: #333;
  --bg-primary: #fff;
  --bg-secondary: #f6f8fa;
  --bg-tertiary: #d7d7d7;
  --link-primary: #004c9b;
  --red-text: #d30017;
  --warning-text: #966f0d;
  --hr: rgb(215 215 215 / 30%);
  --sa11y-link-icon-svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 512'%3E%3Cpath d='M579.8 267.7c56.5-56.5 56.5-148 0-204.5c-50-50-128.8-56.5-186.3-15.4l-1.6 1.1c-14.4 10.3-17.7 30.3-7.4 44.6s30.3 17.7 44.6 7.4l1.6-1.1c32.1-22.9 76-19.3 103.8 8.6c31.5 31.5 31.5 82.5 0 114L422.3 334.8c-31.5 31.5-82.5 31.5-114 0c-27.9-27.9-31.5-71.8-8.6-103.8l1.1-1.6c10.3-14.4 6.9-34.4-7.4-44.6s-34.4-6.9-44.6 7.4l-1.1 1.6C206.5 251.2 213 330 263 380c56.5 56.5 148 56.5 204.5 0L579.8 267.7zM60.2 244.3c-56.5 56.5-56.5 148 0 204.5c50 50 128.8 56.5 186.3 15.4l1.6-1.1c14.4-10.3 17.7-30.3 7.4-44.6s-30.3-17.7-44.6-7.4l-1.6 1.1c-32.1 22.9-76 19.3-103.8-8.6C74 372 74 321 105.5 289.5L217.7 177.2c31.5-31.5 82.5-31.5 114 0c27.9 27.9 31.5 71.8 8.6 103.9l-1.1 1.6c-10.3 14.4-6.9 34.4 7.4 44.6s34.4 6.9 44.6-7.4l1.1-1.6C433.5 260.8 427 182 377 132c-56.5-56.5-148-56.5-204.5 0L60.2 244.3z'/%3E%3C/svg%3E");
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-text: #dde8ff;
    --bg-primary: #0a2051;
    --bg-secondary: #072c7c;
    --bg-tertiary: #0041c9;
    --link-primary: #64b2ff;
    --red-text: #ffa2a2;
    --warning-text: #ffdb59;
    --hr: rgb(0 65 201 / 30%);
  }
}

* {
  padding: 0;
  margin: 0;
}

article,
aside,
nav,
ol,
p,
pre,
section,
ul {
  margin-bottom: 1rem;
}

body {
  max-width: 70ch;
  padding: 2rem;
  margin: 0 auto;
  overflow-x: hidden;
  font-family: var(--font-primary);
  font-size: 1rem;
  line-height: 1.5;
  color: var(--body-text);
  word-break: break-word;
  overflow-wrap: break-word;
  background: var(--bg-primary);
}

h1,
h2,
h3 {
  padding-top: 0.875rem;
  padding-bottom: 2px;
  margin-bottom: 8px;
  line-height: 1;
  color: var(--body-text);
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.85rem;
}

h3 {
  font-size: 1.55rem;
}

a {
  color: var(--link-primary);
}

a:hover,
a:focus {
  text-decoration: none;
}

header,
footer {
  padding: 2rem 1.5rem;
  padding-right: calc(50vw - 50%);
  padding-left: calc(50vw - 50%);
  background: var(--bg-secondary);
}

header {
  margin: -2rem calc(0px - (50vw - 50%)) 2rem;
  border-bottom: 1px solid var(--bg-tertiary);
}

footer {
  margin: 3rem calc(0px - (50vw - 50%)) -2rem;
  text-align: center;
  border-top: 1px solid var(--bg-tertiary);
}

header > *:first-child {
  padding-top: 0;
  margin-top: 0;
}

header > *:last-child {
  margin-bottom: 0;
}

hr {
  height: 1px;
  padding: 0;
  margin: 10px 0;
  background: var(--hr);
  border: none;
  opacity: 1;
}

code,
samp,
kbd,
pre {
  padding: 3px 6px;
  font-family: var(--font-secondary);
  font-size: 0.9rem;
  background: var(--bg-secondary);
  border: 1px solid var(--bg-tertiary);
  border-radius: 4px;
}

pre {
  display: block;
  max-width: 100%;
  padding: 1rem 1.4rem;
  overflow: auto;
}

pre code {
  padding: 0;
  margin: 0;
  font-size: inherit;
  color: inherit;
  background: inherit;
  border: 0;
}

code pre {
  display: inline;
  padding: 0;
  margin: 0;
  font-size: inherit;
  color: inherit;
  background: inherit;
  border: 0;
}

details {
  padding: 0.6rem 1rem;
  background: var(--bg-primary);
  border: 2px solid var(--link-primary);
  border-radius: 4px;
}

summary {
  font-weight: bold;
  cursor: pointer;
}

details[open] {
  padding-bottom: 0.75rem;
}

details[open] summary {
  margin-bottom: 6px;
}

details[open] > *:last-child {
  margin-bottom: 0;
}

.two-columns {
  display: flex;
}

.column {
  margin-inline-end: 20px;
  flex: 1;
}

.count {
  max-width: 220px;
}

dl {
  padding-top: 10px;
}

.column dl {
  width: 100%;
}

dt {
  font-weight: bold;
}

dd {
  padding-bottom: 10px;
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}

ul li {
  margin-bottom: 0.5rem;
}

ol,
ul {
  padding-left: 2rem;
}

ol li:not(li li) {
  margin-bottom: 4rem;
}

iframe,
img {
  display: block;
  max-width: 50%;
  padding: 5px;
  background: var(--bg-tertiary);
  border-radius: 5px;
}

video,
audio {
  display: block;
  border: 0;
}

.red-text {
  color: var(--red-text);
}

.visually-hidden {
  position: absolute;
  display: block;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
  border: 0;
  clip-path: inset(50%);
}

.badge {
  display: inline;
  min-width: 10px;
  padding: 1px 5px 1.75px;
  font-size: 14px;
  font-weight: 700 !important;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 10px;
  outline: 1px solid transparent;
}

.error {
  .colour {
    color: var(--red-text);
  }

  .badge {
    color: #fff;
    background: #d30017;
  }
}

.warning {
  .colour {
    color: var(--warning-text);
  }

  .badge {
    color: #fff;
    background: #966f0d;
  }
}

.link-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-bottom: -3.5px;
  background: #fff;
  mask: var(--sa11y-link-icon-svg) center no-repeat;
}

li pre,
li li pre,
li li img,
li li iframe,
li li video,
li li audio {
  margin-top: 1rem;
}

li li {
  margin-top: 1rem;
  list-style: none;
}
