/**
 * Misc utilities
 * ========================================================================= */
.sa11y-visually-hidden {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  clip-path: inset(50%) !important;
  display: block !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.sa11y-header-text-inline,
.sa11y-header-text {
  color: var(--sa11y-panel-primary) !important;
  display: block !important;
  font-size: var(--sa11y-large-text) !important;
  font-weight: 600 !important;
  margin-bottom: 3px !important;
}

.sa11y-header-text-inline {
  display: inline-block !important;
}

#sa11y-container code,
#sa11y-container kbd,
.sa11y-kbd {
  padding: 1.6px 4.8px !important;
  color: var(--sa11y-panel-primary) !important;
  background-color: var(--sa11y-panel-badge) !important;
  border-radius: 3.2px !important;
}

#sa11y-container code {
  font-family: monospace !important;
}

.sa11y-bold {
  font-weight: 600 !important;
}

.sa11y-red-text {
  color: var(--sa11y-red-text) !important;
  font-family: var(--sa11y-font-face) !important;
  font-size: var(--sa11y-normal-text) !important;
}

.sa11y-yellow-text {
  color: var(--sa11y-yellow-text) !important;
  font-family: var(--sa11y-font-face) !important;
  font-size: var(--sa11y-normal-text) !important;
}

/**
 * Close button
 * ========================================================================= */
[dir=rtl] .sa11y-close-btn {
  float: left !important;
}

.sa11y-close-btn {
  float: right !important;
  border-radius: 50% !important;
  border: 1px solid var(--sa11y-panel-bg-splitter) !important;
  cursor: pointer !important;
  font-size: var(--sa11y-normal-text) !important;
  font-weight: normal !important;
  margin: 0 !important;
  position: relative !important;
  background: none !important;
  color: var(--sa11y-panel-primary) !important;
  width: 32px !important;
  height: 32px !important;
  transition: all 0.2s ease-in-out !important;
}
.sa11y-close-btn:hover, .sa11y-close-btn:focus {
  background-color: var(--sa11y-shortcut-hover) !important;
}
.sa11y-close-btn:after {
  content: "" !important;
  left: -7px !important;
  right: -7px !important;
  bottom: -7px !important;
  top: -7px !important;
  position: absolute !important;
  background: var(--sa11y-setting-switch-bg-off) !important;
  mask: var(--sa11y-close-btn-svg) center no-repeat !important;
  -webkit-mask: var(--sa11y-close-btn-svg) center no-repeat !important;
}

/**
 * Global keyboard focus styles
 * ========================================================================= */
@media screen and (-ms-high-contrast: active) {
  #sa11y-container a:focus,
  #sa11y-container button:focus,
  #sa11y-container [tabindex="0"]:focus,
  #sa11y-container [tabindex="-1"]:focus {
    outline: transparent solid 2px !important;
  }
}
/**
 * Default focus styles.
 **/
#sa11y-container button[data-sa11y-dismiss]:focus,
#sa11y-container .sa11y-settings-switch:focus,
#sa11y-container #sa11y-settings-toggle:focus,
#sa11y-container #sa11y-outline-toggle:focus,
#sa11y-container #sa11y-dismiss-button:focus {
  outline: 0;
  box-shadow: inset 0 0 0 4px var(--sa11y-focus-color);
}
#sa11y-container [tabindex="0"]:focus,
#sa11y-container #sa11y-close-alert:focus,
#sa11y-container #sa11y-skip-button:focus,
#sa11y-container #sa11y-dismiss-button:focus,
#sa11y-container #sa11y-toggle:focus,
#sa11y-container #sa11y-panel a:focus {
  outline: 0 !important;
  box-shadow: 0 0 0 5px var(--sa11y-focus-color) !important;
}

button.sa11y-btn:active,
button.sa11y-btn:focus,
[data-sa11y-annotation][tabindex="-1"]:focus {
  outline: 0 !important;
  box-shadow: 0 0 0 5px var(--sa11y-focus-color) !important;
}

/* Tooltip focus styles */
.tippy-box[data-theme~=sa11y-theme] a:focus,
.tippy-box[data-theme~=sa11y-theme] button:focus,
.tippy-box[data-theme~=sa11y-theme] button:active,
.tippy-box[data-theme~=sa11y-theme][tabindex="-1"]:focus {
  outline: 0 !important;
  box-shadow: 0 0 0 5px var(--sa11y-focus-color) !important;
}

/**
 * Remove default focus styles for mouse users ONLY if :focus-visible is supported.
 **/
#sa11y-container [tabindex="0"]:focus:not(:focus-visible),
#sa11y-container [tabindex="-1"]:focus:not(:focus-visible),
#sa11y-container .sa11y-settings-switch:focus:not(:focus-visible),
#sa11y-container button[data-sa11y-dismiss]:focus:not(:focus-visible),
#sa11y-container #sa11y-close-alert:focus:not(:focus-visible),
#sa11y-container #sa11y-settings-toggle:focus:not(:focus-visible),
#sa11y-container #sa11y-outline-toggle:focus:not(:focus-visible),
#sa11y-container #sa11y-dismiss-button:focus:not(:focus-visible),
#sa11y-container #sa11y-skip-button:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}

/* Tooltip focus styles */
.tippy-box[data-theme~=sa11y-theme] a:focus:not(:focus-visible),
.tippy-box[data-theme~=sa11y-theme] button:focus:not(:focus-visible),
.tippy-box[data-theme~=sa11y-theme][tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}

/**
 * :focus-visible is supported.
 **/
#sa11y-container {
  /* Outset focus outline */
}
#sa11y-container button[data-sa11y-dismiss]:focus-visible,
#sa11y-container .sa11y-settings-switch:focus-visible,
#sa11y-container #sa11y-settings-toggle:focus-visible,
#sa11y-container #sa11y-outline-toggle:focus-visible,
#sa11y-container #sa11y-dismiss-button:focus-visible {
  outline: 0;
  box-shadow: inset 0 0 0 4px var(--sa11y-focus-color);
}
#sa11y-container [tabindex="0"]:focus-visible,
#sa11y-container [tabindex="-1"]:focus-visible,
#sa11y-container #sa11y-close-alert:focus-visible,
#sa11y-container #sa11y-skip-button:focus-visible {
  outline: 0 !important;
  box-shadow: 0 0 0 5px var(--sa11y-focus-color) !important;
}

/* Tooltip focus styles */
.tippy-box[data-theme~=sa11y-theme] a:focus-visible,
.tippy-box[data-theme~=sa11y-theme] button:focus-visible,
.tippy-box[data-theme~=sa11y-theme][tabindex="-1"]:focus-visible {
  outline: 0 !important;
  box-shadow: 0 0 0 5px var(--sa11y-focus-color) !important;
}