/* ************************************* */
/*   Error, Warning, Pass annotations    */
/* ************************************* */

.instance {
  display: block;
}

.instance-inline {
  display: inline-block;
  text-align: end;
}

button {
  border-radius: 50%;
  box-shadow: 0 0 16px 0 #0000004f;
  cursor: pointer;
  display: block;
  font-size: 0;
  height: 36px;
  line-height: normal;
  min-width: 0;
  padding: 0;
  position: absolute;
  transition: all 0.2s ease-in-out;
  width: 36px;
  z-index: 8888;

  &:after {
    content: "";
    height: 36px;
    left: -7px;
    padding: 7px;
    position: absolute;
    top: -7px;
    width: 36px;
  }
}

/* To prevent overlap. */
button.warning-btn {
  margin: 20px;
}

button.good-btn,
button.error-btn {
  margin: 10px;
}

button.error-btn-text,
button.good-btn-text,
button.warning-btn-text {
  margin: -30px 10px;
}

/* Error */
button.error-btn,
button.error-btn-text {
  background: 50% 50% var(--sa11y-error-svg) no-repeat;
  background-color: var(--sa11y-error);
  background-size: 22px;
  border: 1px solid var(--sa11y-error);

  &:hover,
  &:focus {
    background-color: var(--sa11y-error-hover);
  }
}

/* Pass button */
button.good-btn,
button.good-btn-text {
  background: 50% 50% var(--sa11y-good) var(--sa11y-good-svg) no-repeat;
  background-color: var(--sa11y-good);
  background-size: 20px;
  border: 1px solid var(--sa11y-good);

  &:hover,
  &:focus {
    background-color: var(--sa11y-good-hover);
  }
}

/* Warning button */
button.warning-btn,
button.warning-btn-text {
  background: 50% 50% var(--sa11y-warning) var(--sa11y-warning-svg) no-repeat;
  background-color: var(--sa11y-warning);
  background-size: 24px;
  border: 1px solid var(--sa11y-warning);
  transform: scaleX(var(--sa11y-icon-direction));

  &:hover,
  &:focus {
    background-color: var(--sa11y-warning-hover);
  }
}

/* ************************************* */
/* Keyboard focus styles for annotations */
/* ************************************* */

button.sa11y-btn:active,
button.sa11y-btn:focus {
  box-shadow: 0 0 0 5px var(--sa11y-focus-color);
  outline: 0;
}

/* High Contrast Mode */
@media screen and (forced-colors: active) {
  button.sa11y-btn {
    border: 1px solid transparent !important;
    forced-color-adjust: none;
    outline: transparent solid 3px !important;
  }
}