/* ************************************* */
/*          1. CSS Reset                 */
/* ************************************* */
h1,
h2,
div,
p,
span,
ol,
ul,
li,
a,
label,
button,
svg,
strong,
kbd,
pre,
code {
  all: unset;
  box-sizing: border-box !important;
}

*::before,
*:before,
*::after,
*:after {
  all: unset;
}

div {
  display: block;
}

* {
  font-family: var(--sa11y-font-face) !important;
  -webkit-font-smoothing: auto !important;
}

p,
ol,
ul,
li,
label {
  font-size: var(--sa11y-normal-text);
  font-weight: normal;
  line-height: 22px !important;
  text-align: start;
  letter-spacing: normal;
  word-break: break-word;
}

.sa11y-overflow {
  overflow: auto;
}

img,
video,
iframe {
  display: block;
  max-width: 100%;
  height: auto;
  border: 0;
}

audio {
  max-width: 100%;
}

/* ************************************* */
/*          2. Main toggle               */
/* ************************************* */
#toggle {
  position: fixed;
  bottom: 15px;
  z-index: 2147483644;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  margin: 0;
  overflow: visible;
  color: #fff;
  cursor: pointer;
  background: linear-gradient(to top, #e040fb, #00bcd4);
  background-color: var(--sa11y-setting-switch-bg-off);
  background-size: 150% 150%;
  border-radius: 50%;
  transition: all .2s ease-in-out;
  inset-inline-end: 18px;

  &.left,
  &.top-left {
    inset-inline-start: 18px;
  }

  &.top-left,
  &.top-right {
    top: 15px;
    bottom: unset;
  }

  @media screen and (forced-colors: active) {
    background: ButtonFace !important;
    border: 2px solid transparent;
  }

  svg {
    width: 35px;
    height: 35px;

    path {
      fill: var(--sa11y-panel-bg);
    }
  }

  &:hover,
  &:focus {
    animation: sa11y-toggle-gradient 3s ease;
  }

  &:disabled:hover,
  &:disabled:focus {
    animation: none;
  }

  &.on {
    background: linear-gradient(to bottom, #e040fb, #00bcd4);
  }

  &:disabled {
    cursor: not-allowed;
    background: unset;
    background-color: var(--sa11y-setting-switch-bg-off);
  }
}

/* ************************************* */
/*        3. Notification badge          */
/* ************************************* */
#notification-badge {
  position: absolute;
  top: -5.5px;
  right: -3px;
  display: none;
  align-items: center;
  justify-content: center;
  min-width: 20px;
  padding: 2.5px;
  font-size: 13.5px;
  font-weight: normal;
  line-height: 1;
  color: #fff;
  text-wrap: nowrap;
  background-color: #eb0000;
  border: 1px solid transparent;
  border-radius: 12px;

  &.notification-badge-warning {
    color: var(--sa11y-warning-text);
    background-color: var(--sa11y-warning-hover);
    border: 1px solid var(--sa11y-warning);
  }
}

/* ************************************* */
/*            4. Main panel              */
/* ************************************* */
#panel {
  position: fixed;
  bottom: 25px;
  z-index: 2147483643;
  overflow: visible;
  visibility: hidden;
  background: var(--sa11y-panel-bg);
  border-radius: 4px;
  box-shadow: 0 0 20px 4px rgba(154, 161, 177, .15),
    0 4px 80px -8px rgba(36, 40, 47, .25),
    0 4px 4px -2px rgba(91, 94, 105, .15);
  opacity: 0;
  transition: transform .2s, opacity .2s background .2s;
  transform: scale(0);
  transform-origin: 100% 100%;
  inset-inline-end: 42px;

  &.left,
  &.top-left {
    inset-inline-start: 42px;
  }

  &.top-right,
  &.top-left {
    top: 35px;
    bottom: unset;
  }

  &.active {
    height: auto;
    visibility: visible;
    opacity: 1;
    transition: transform .2s, opacity .2s;
    transform: scale(1);
    transform-origin: bottom right;
  }

  @media screen and (forced-colors: active) {
    border: 2px solid transparent;
  }
}

#panel.active.left,
[dir=rtl] #panel.active {
  transform-origin: bottom left;
}

#panel.active.top-left {
  transform-origin: top left;
}

#panel.active.top-right {
  transform-origin: top right;
}

/* ************************************* */
/*            5. Panel alerts            */
/* ************************************* */
#panel-alert {
  display: none;
  opacity: 0;

  &.active {
    display: block;
    opacity: 1;
  }
}

#panel-alert-content {
  position: relative;
  align-items: center;
  max-height: 400px;
  padding: 15px 20px 15px 15px;
  overflow-y: auto;
  line-height: 22px;
  color: var(--sa11y-panel-primary);
  border-bottom: 1px solid var(--sa11y-panel-bg-splitter);
}

.top-left,
.top-right {
  #panel-alert-content {
    border: 0;
  }
}

#panel-alert-preview .close-tooltip {
  display: none;
}

#panel-alert-preview,
#panel-alert-text {
  font-family: var(--sa11y-font-face);
  font-size: var(--sa11y-normal-text);
  font-weight: normal;
  line-height: 22px;
}

.panel-alert-preview {
  padding: 10px;
  margin-top: 15px;
  background: var(--sa11y-panel-bg-secondary);
  border: 1px dashed var(--sa11y-panel-bg-splitter);
  border-radius: 5px;

  ul {
    position: relative;
    padding: 0;
    margin: 0;
    margin-block-end: 0;
    margin-block-start: 0;
  }

  li {
    display: list-item;
    padding-bottom: 5px;
    margin: 5px 10px 0 20px;
  }
}

.element-preview {
  padding: 5px;
  margin-bottom: 10px;
  overflow-wrap: break-word;
  background-color: var(--sa11y-element-preview);
  border-radius: 3.2px;
}

/* Dismiss button for issues */
button[data-sa11y-dismiss] {
  display: block;
  padding: 4px 8px;
  margin: 10px 5px 5px 0;
  color: var(--sa11y-panel-primary);
  cursor: pointer;
  background: var(--sa11y-panel-bg-secondary);
  border: 2px solid var(--sa11y-button-outline);
  border-radius: 5px;
  margin-inline-end: 15px;

  &:hover,
  &:focus {
    background: var(--sa11y-shortcut-hover);
  }
}

/* ************************************* */
/*          6. General styles            */
/* ************************************* */
h2 {
  display: block;
  margin-bottom: 3px;
  font-size: var(--sa11y-large-text);
  font-weight: 700;
}

strong {
  font-weight: 600;
}

a:not(#outline-list a):not(.edit) {
  font-weight: 500;
  color: var(--sa11y-hyperlink);
  text-decoration: underline;
  cursor: pointer;
  border-bottom: 0;
}

a:hover,
a:focus {
  text-decoration: none !important;
}

hr {
  height: 1px;
  padding: 0;
  margin: 10px 0;
  background: var(--sa11y-panel-bg-splitter);
  border: none;
  opacity: 1;
}

/* ******************************************** */
/*  7. Base styling for dismiss & skip buttons  */
/* ******************************************** */
#dismiss-button,
#skip-button {
  position: relative;
  display: none;
  width: 36px;
  height: 36px;
  overflow: visible;
  text-align: center;
  cursor: pointer;
  background: var(--sa11y-panel-bg-secondary);
  border: 1px solid var(--sa11y-button-outline);
  border-radius: 50px;
  transition: all .1s ease-in-out;
  margin-inline-end: 8px;
  margin-inline-start: 2px;

  &.active {
    display: block;
  }

  &:disabled {
    cursor: default;
    background: none;
    border: 0;
    box-shadow: none;
  }

  &:before {
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    content: "";
  }

  &:hover:not(:disabled),
  &:focus:not(:disabled) {
    background-color: var(--sa11y-shortcut-hover);
  }
}

#panel.top-left,
#panel.left {

  #dismiss-button,
  #skip-button {
    margin-inline-start: 8px;
    margin-inline-end: 2px;
  }
}

/* Dismiss button */
.dismiss-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-bottom: -4px;
  background: var(--sa11y-setting-switch-bg-off);
  mask: var(--sa11y-dismiss-icon) center no-repeat;
}

@media screen and (forced-colors: active) {
  .dismiss-icon {
    filter: invert(1);
  }
}

/* ***************************************** */
/*  8. Panel status, Skip To Issue, Dismiss  */
/* ***************************************** */
#panel-content {
  display: flex;
  align-items: center;
  padding: 6px;
  color: var(--sa11y-panel-primary);

  &.errors .panel-icon,
  &.good .panel-icon,
  &.warnings .panel-icon {
    width: 26px;
    height: 26px;
    margin: 0 auto;
  }

  &.errors .panel-icon {
    margin-top: -2px;
    background: var(--sa11y-panel-error);
    mask: var(--sa11y-error-svg) center no-repeat;
  }

  &.good .panel-icon {
    background: var(--sa11y-good);
    mask: var(--sa11y-good-svg) center no-repeat;
  }

  &.warnings .panel-icon {
    background: var(--sa11y-yellow-text);
    transform: scaleX(var(--sa11y-icon-direction));
    mask: var(--sa11y-warning-svg) center no-repeat;
  }

  @media screen and (forced-colors: active) {

    &.errors .panel-icon,
    &.good .panel-icon,
    &.warnings .panel-icon {
      filter: invert(1);
    }
  }
}

#panel.top-left #panel-content,
#panel.left #panel-content {
  flex-direction: row-reverse;
}

#status {
  font-size: var(--sa11y-large-text);
  color: var(--sa11y-panel-primary);
}

.panel-count {
  padding: 2px 4px;
  margin-right: 3px;
  margin-left: 3px;
  font-size: 15px;
  font-weight: normal;
  color: var(--sa11y-panel-primary);
  background-color: var(--sa11y-panel-badge);
  border-radius: 4px;
}

/* ***************************************** */
/*   9. Outline and Settings shared styles   */
/* ***************************************** */
#page-issues,
#images-panel,
#settings-panel,
#outline-panel {
  display: none;
  color: var(--sa11y-panel-primary);
  opacity: 0;
}

#page-issues.active,
#images-panel.active,
#settings-panel.active,
#outline-panel.active {
  display: block;
  opacity: 1;
}

.panel-header {
  padding: 10px 15px 0;
  text-align: start;
}

#about-content {
  padding-top: 5px;

  p {
    display: block;
    margin-block-end: 1em;
  }
}

#page-issues-content,
#images-content,
#settings-content,
#outline-content {
  padding: 0 15px 10px;
  border-bottom: 1px solid var(--sa11y-panel-bg-splitter);

  .top-right &,
  .top-left & {
    border: 0;
  }
}

#page-issues-content {
  max-height: 160px;
  overflow-y: auto;
}

#settings-content {
  max-height: 400px;
  overflow-y: auto;
}

/* Note to self: stop tinkering with the max-height. This is the max height that will accommodate the Page Issues and Readability panel on your average 13" screen. */
#images-content,
#outline-content {
  max-height: 250px;
  overflow-y: auto;
}

#settings-panel .sa11y-red-text,
#outline-panel .outline-list-item.sa11y-red-text {
  color: var(--sa11y-red-text);
}

/* ***************************************** */
/*          10. Page Outline list            */
/* ***************************************** */
#outline-list {
  display: block;
  padding: 0;
  margin: 0;

  a {
    display: block;
    text-decoration: none;
    cursor: pointer;
  }

  li {
    display: block;
    padding: 0;
    margin-top: 0;
    margin-bottom: 3px;
    list-style-type: none;
  }

  li:first-child {
    margin-top: 5px;
  }

  li a:hover,
  li a:focus {
    display: block;
    background: var(--sa11y-panel-outline-hover);
    border-radius: 5px;
    box-shadow: 0 0 0 2px var(--sa11y-panel-outline-hover);
  }

  .outline-2 {
    margin-inline-start: 15px;
  }

  .outline-3 {
    margin-inline-start: 30px;
  }

  .outline-4 {
    margin-inline-start: 45px;
  }

  .outline-5 {
    margin-inline-start: 60px;
  }

  .outline-6 {
    margin-inline-start: 75px;
  }
}

/* ***************************************** */
/*          10A. Images list            */
/* ***************************************** */
#images-list {
  display: block;
  padding: 0;
  margin: 0;

  li {
    display: block;
    width: 100%;
    margin: 15px 0;
    overflow: hidden;
    list-style-type: none;
    border-bottom: 1px solid var(--sa11y-panel-bg-splitter);

    &:first-child {
      margin-top: 5px;
    }

    &:last-child {
      margin-bottom: 0;
      border: none;
    }

    .alt {
      padding: 2px 5px 10px;
    }

    .edit-block {
      margin-bottom: 15px;
    }

    .edit {
      position: relative;
      padding: 4px 7px;
      color: var(--sa11y-panel-primary);
      text-decoration: none;
      cursor: pointer;
      background: var(--sa11y-panel-bg-secondary);
      border: 2px solid var(--sa11y-button-outline);
      border-radius: 5px;

      &:hover,
      &:focus {
        background-color: var(--sa11y-shortcut-hover);
      }

      &::before {
        position: absolute;
        top: -10px;
        right: -10px;
        bottom: -10px;
        left: -10px;
        content: "";
      }
    }

    img {
      float: inline-start;
      max-width: 110px;
      margin-inline-end: 10px;
      margin-block-end: 15px;
      border-radius: 5px;
    }

    &.warning {
      .alt {
        color: var(--sa11y-yellow-text);
      }

      img {
        background-color: var(--sa11y-yellow-text);
        border: 5px solid var(--sa11y-yellow-text);
      }
    }

    &.error {
      .alt {
        color: var(--sa11y-error);
      }

      img {
        background-color: var(--sa11y-error);
        border: 5px solid var(--sa11y-error);
      }
    }

    &.good {
      img {
        background-color: var(--sa11y-panel-badge);
        border: 5px solid var(--sa11y-panel-badge);
      }
    }

    @media screen and (forced-colors: active) {
      img {
        background-color: ButtonBorder !important;
      }
    }
  }
}

/* **************************************** */
/*    11. Various icons                     */
/* **************************************** */
@mixin icon($background, $mask) {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: $background;
  mask: $mask center no-repeat;
}

.error-icon {
  margin-bottom: -4px;
  @include icon(var(--sa11y-error-text), var(--sa11y-error-svg));
}

.hidden-icon {
  margin-bottom: -3px;
  @include icon(var(--sa11y-panel-primary), var(--sa11y-hidden-icon-svg));
}

.link-icon {
  margin-bottom: -3.5px;
  @include icon(var(--sa11y-panel-primary), var(--sa11y-link-icon-svg));
}

.error-badge .link-icon,
.error-badge .hidden-icon {
  background: var(--sa11y-error-text);
}

.warning-badge .link-icon,
.warning-badge .hidden-icon {
  background: var(--sa11y-panel-bg);
}

.error {
  .link-icon {
    background: var(--sa11y-error-text);
  }
}

.warning {
  .link-icon {
    background: var(--sa11y-panel-bg);
  }
}

@media screen and (forced-colors: active) {

  .error-icon,
  .link-icon,
  .hidden-icon {
    filter: invert(1);
  }
}

/* ***************************************** */
/*    12. Page Outline & Settings toggles    */
/* ***************************************** */
#panel-controls {
  display: flex;
  overflow: hidden;
  border-bottom: 1px solid var(--sa11y-panel-bg-splitter);
  border-radius: 0 0 4px 4px;
}

#panel-controls button {
  position: relative;
  display: block;
  width: 100%;
  height: 30px;
  padding: 0;
  margin: 0;
  font-size: var(--sa11y-normal-text);
  font-weight: 400;
  line-height: 0;
  color: var(--sa11y-panel-secondary);
  text-align: center;
  cursor: pointer;
  background: var(--sa11y-panel-bg-secondary);
  background-color: var(--sa11y-panel-bg-secondary);
  border-top: 1px solid var(--sa11y-panel-bg-splitter);
  border-inline-end: 1px solid var(--sa11y-panel-bg-splitter);
  outline: 0;
  opacity: 1;
  transition: background .2s;

  &:hover,
  &.active {
    background-color: var(--sa11y-shortcut-hover);
  }

  &.active {
    font-weight: 600;
  }
}

#export-results-mode,
label {
  display: inline-block;
  width: 100%;
  margin: 0;
  font-weight: normal;
  color: var(--sa11y-panel-primary);
}

label:not(#colour-filter-mode, #export-results-mode) {
  cursor: pointer;
}


/* ***************************************** */
/*           13. Settings Panel              */
/* ***************************************** */
#settings-panel {

  #info-icon {
    vertical-align: middle;
    fill: var(--sa11y-panel-primary);
  }

  #export-csv,
  #export-html {
    width: unset;
    padding: 0;
    text-align: center;

    span {
      display: block;
      width: 65px;
      padding: 7px 9px;
      margin: 0 4px;
      background: var(--sa11y-panel-bg-secondary);
      border-radius: 5px;
      box-shadow: inset 0 0 0 2px var(--sa11y-setting-switch-bg-off);
    }

    &:hover span,
    &:focus span,
    &:focus-within span {
      background: var(--sa11y-shortcut-hover);
    }
  }

  .switch {
    position: relative;
    width: 105px;
    height: 44px;
    padding: 7px 10px;
    margin: 0;
    font-size: var(--sa11y-normal-text);
    font-weight: normal;
    color: var(--sa11y-panel-primary);
    text-align: end;
    cursor: pointer;
    background: none;
    border: 0;
    border-radius: 5px;

    &[aria-pressed="true"]:after,
    &[aria-pressed="false"]:after {
      display: inline-block;
      width: 27px;
      height: 27px;
      margin: 0 4px 4px;
      vertical-align: middle;
      content: "";
    }

    &[aria-pressed="true"]:after {
      background: var(--sa11y-setting-switch-bg-on);
      mask: var(--sa11y-setting-switch-on-svg) center no-repeat;
    }

    &[aria-pressed="false"]:after {
      background: var(--sa11y-setting-switch-bg-off);
      mask: var(--sa11y-setting-switch-off-svg) center no-repeat;
    }

    @media screen and (forced-colors: active) {

      &[aria-pressed="false"]:after,
      &[aria-pressed="true"]:after {
        filter: invert(1);
      }
    }
  }

  #settings-options li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px 0;
    list-style-type: none;
    border-bottom: 1px solid var(--sa11y-panel-bg-splitter);

    &:last-child {
      border: none;
    }
  }
}

/* ************************************* */
/*            14. Page issues            */
/* ************************************* */
#page-issues {
  align-items: center;
  color: var(--sa11y-panel-primary);
}

#page-issues-list {
  display: block;
  margin-top: 4px;

  li {
    display: block;
    margin: 0 0 10px;
  }

  strong {
    display: block;
  }
}

.top-left,
.top-right {

  &.has-page-issues #page-issues {
    /* Hide double border. */
    margin-top: -1px;
    border-top: 1px solid var(--sa11y-panel-bg-splitter);
  }
}

/* ************************************* */
/*      15. Colour filters plugin        */
/* ************************************* */
#panel-colour-filters {
  display: none;
  align-items: center;
  font-family: var(--sa11y-font-face);
  font-size: var(--sa11y-normal-text);
  font-weight: 400;
  line-height: 22px;
  color: var(--sa11y-panel-primary);

  &.active {
    display: flex;
  }

  p {
    width: 100%;
    padding: 6px 20px 6px 6px;
  }

  @mixin border-gradient {
    border-bottom: 6px solid transparent;
    border-image-slice: 1;
  }

  &[data-colour="protanopia"] {
    border-image: linear-gradient(94deg, rgba(120, 103, 25, 1) 11%, rgba(224, 198, 0, 1) 36%, rgba(224, 198, 0, 1) 47%, rgba(0, 89, 227, 1) 75%, rgba(0, 66, 170, 1) 91%);
    @include border-gradient;
  }

  &[data-colour="deuteranopia"] {
    border-image: linear-gradient(270deg, rgba(86, 127, 219, 1) 0%, rgba(164, 162, 141, 1) 48%, rgba(195, 173, 20, 1) 69%, rgba(167, 149, 5, 1) 100%);
    @include border-gradient;
  }

  &[data-colour="tritanopia"] {
    border-image: linear-gradient(270deg, rgba(177, 80, 111, 1) 0%, rgba(6, 150, 193, 1) 35%, rgba(243, 169, 186, 1) 70%, rgba(217, 28, 93, 1) 87%, rgba(254, 1, 92, 1) 100%);
    @include border-gradient;
  }

  &[data-colour="monochromacy"] {
    border-image: linear-gradient(270deg, rgba(0, 0, 0, 1) 0%, rgba(167, 167, 167, 1) 50%, rgba(0, 0, 0, 1) 100%);
    @include border-gradient;
  }

  &[data-colour="protanopia"] .panel-icon {
    background: var(--sa11y-panel-error);
  }

  &[data-colour="deuteranopia"] .panel-icon {
    background: var(--sa11y-good-hover);
  }

  &[data-colour="tritanopia"] .panel-icon {
    background: var(--sa11y-blue);
  }

  &[data-colour="monochromacy"] .panel-icon {
    background: linear-gradient(90deg, rgba(56, 164, 89, 1) 20%, #f00 50%, rgba(0, 119, 200, 1) 80%);
  }

  .panel-icon {
    width: 30px;
    height: 30px;
    margin-inline-end: 5px;
    margin-inline-start: 10px;
    mask: var(--sa11y-low-vision-icon) center no-repeat;
  }

  @media screen and (forced-colors: active) {
    .panel-icon {
      forced-color-adjust: none;
    }
  }
}

.select-dropdown {
  position: relative;
  display: flex;
  align-items: center;
}

.select-dropdown:after {
  position: absolute;
  content: " ";
  border-top: 5px solid var(--sa11y-setting-switch-bg-off);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  inset-inline-end: 14px;
}

#colour-filter-select {
  appearance: none;
  position: relative;
  height: 30px;
  font-size: var(--sa11y-normal-text);
  font-weight: normal;
  color: var(--sa11y-panel-primary);
  text-align: end;
  vertical-align: middle;
  cursor: pointer;
  background: var(--sa11y-panel-bg-secondary);
  border: 2px solid var(--sa11y-setting-switch-bg-off);
  border-radius: 5px;
  padding-inline-end: 25px;
  padding-inline-start: 5px;
  margin-inline-end: 4px;

  &:hover,
  &:focus {
    background: var(--sa11y-shortcut-hover);
  }
}

#colour-filter-select.active {
  box-shadow: 0 0 0 2px var(--sa11y-setting-switch-bg-on);
}

#colour-filter-item label,
#colour-filter-item select {
  margin-top: 10px;
  margin-bottom: 9px;
}

/* ***************************************** */
/*            16. Readability                */
/* ***************************************** */
#readability-panel {
  display: none;
  opacity: 0;

  &.active {
    display: block;
    opacity: 1;
  }
}

.top-left,
.top-right {
  #readability-content {
    border-top: 1px solid var(--sa11y-panel-bg-splitter);
  }
}

.left,
.right {
  #readability-content {
    border-bottom: 1px solid var(--sa11y-panel-bg-splitter);
  }
}

#readability-content {
  width: 100%;
  padding: 10px 15px;
  color: var(--sa11y-panel-primary);
}

#readability-details {
  padding: 0;
  margin: 0;
  white-space: normal;
  list-style-type: none;

  li {
    display: inline-block;
    margin: 0;
    list-style-type: none;
    padding-inline-end: 10px;
  }
}

.readability-score {
  padding: 2px 5px;
  color: var(--sa11y-panel-primary);
  background-color: var(--sa11y-panel-badge);
  border-radius: 4px;
  margin-inline-start: 5px;
}

#readability-info {
  margin-inline-start: 10px;
}

/* ************************************* */
/*   17. Skip to Page Issues skip link   */
/* ************************************* */

// Skip to Page Issues initially
#skip-to-page-issues {
  display: none;
}

// If panel has page issues, make skip link active.
#panel.has-page-issues #skip-to-page-issues {
  position: absolute;
  display: block;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  background: var(--sa11y-panel-bg);
  border: 0;
  border-radius: 5px;
}

#panel.has-page-issues #skip-to-page-issues:focus {
  z-index: 1;
  width: auto;
  height: auto;
  padding: 5px 7px;
  margin: 0;
  overflow: visible;
  clip: auto;
  white-space: normal;
}

/* ***************************************** */
/*          18. Misc utilities               */
/* ***************************************** */

// Used to hide bottom border when colour filter is enabled.
.hide-settings-border {
  padding: 0 15px !important;
  border-bottom: 0 !important;

  li:not(#colour-filter-item) {
    display: none !important;
  }

  #about-content {
    display: none;
  }

  &.scrollable::before {
    all: unset;
  }
}

// Hide colour picker within control panel since element is hidden.
#contrast-tools {
  display: none;
}

/* ***************************************** */
/*         19. Scrollbar styling             */
/* ***************************************** */
::-webkit-scrollbar {
  width: 7px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--sa11y-button-outline);
  border-radius: 6px;
}

* {
  scrollbar-color: var(--sa11y-button-outline);
  scrollbar-width: thin;
}

.scrollable::before {
  position: absolute;
  top: auto;
  right: 0;
  bottom: auto;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 250px;
  content: "";
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 70%, var(--sa11y-panel-scrollable) 100%);
  background-position: bottom;
  transition: opacity 1s ease-in-out;
  animation: fade 1s ease-in-out;
}

#settings-content.scrollable::before {
  height: 400px;
}

.top-right .scrollable::before,
.top-left .scrollable::before {
  border-radius: 5px;
}

#page-issues-content.scrollable::before {
  height: 160px;
}

#panel-alert.scrollable::before {
  height: 200px;
}

/* ***************************************** */
/*           20. Animations                  */
/* ***************************************** */
@keyframes sa11y-toggle-gradient {
  0% {
    background-position: 50% 0%;
  }

  50% {
    background-position: 50% 100%;
  }

  100% {
    background-position: 50% 0%;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition: none !important;
    transform: none !important;
    animation: none !important;
  }
}

/* ***************************************** */
/*     21. Internationalization (i18n)       */
/* ***************************************** */

// Default panel width.
#panel {
  width: 400px;
}

// English
#container:lang(en) #panel {
  width: 315px;
}

// Medium panel width.
#container:lang(nb),
#container:lang(da),
#container:lang(pl),
#container:lang(de),
#container:lang(sv),
#container:lang(zh) {
  #panel {
    width: 350px;
  }
}

// Setting switches that need some extra width.
#container:lang(bg),
#container:lang(es) {
  .switch:not(#export-results-item *) {
    width: 225px !important;
  }
}

#container:not(:lang(en)):not(:lang(de)) {
  .switch {
    width: 205px;
  }
}