/* ***************************************** */
/*               Utilities                   */
/* ***************************************** */
.visually-hidden {
  position: absolute;
  display: block;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
  border: 0;
  clip-path: inset(50%);
}

[hidden] {
  display: none !important;
}

h2,
.header-text-inline,
.header-text {
  display: block;
  margin-bottom: 3px;
  font-size: var(--sa11y-large-text);
  font-weight: 600;
  color: var(--sa11y-panel-primary);
}

.header-text-inline {
  display: inline-block !important;
}

code {
  font-family: monospace !important;
}

code,
kbd,
.kbd {
  padding: 1.6px 4.8px;
  color: var(--sa11y-panel-primary);
  background-color: var(--sa11y-panel-badge);
  border-radius: 3.2px;
}

.bold {
  font-weight: 600;
}

.red-text {
  font-family: var(--sa11y-font-face);
  color: var(--sa11y-red-text);
}

.yellow-text {
  font-family: var(--sa11y-font-face);
  color: var(--sa11y-yellow-text);
}

/* Badges */
.badge {
  display: inline;
  min-width: 10px;
  padding: 1px 4.5px 1.75px;
  font-size: 13px;
  font-weight: 700 !important;
  line-height: 1;
  color: var(--sa11y-panel-primary);
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: var(--sa11y-panel-badge);
  border: 1px solid transparent;
  border-radius: 10px;
}

.error-badge {
  color: var(--sa11y-error-text);
  background: var(--sa11y-error);
}

.warning-badge {
  color: var(--sa11y-panel-bg);
  background: var(--sa11y-yellow-text);
}

/* ***************************************** */
/*              Close button                 */
/* ***************************************** */

.close-btn {
  position: relative;
  /* stylelint-disable-next-line declaration-property-value-allowed-list */
  float: var(--sa11y-float-rtl);
  width: 32px;
  height: 32px;
  margin: 0;
  font-size: var(--sa11y-normal-text);
  font-weight: normal;
  color: var(--sa11y-panel-primary);
  cursor: pointer;
  background: var(--sa11y-panel-bg-secondary);
  border: 2px solid var(--sa11y-button-outline);
  border-radius: 50%;
  transition: all .2s ease-in-out;

  &:hover,
  &:focus {
    background-color: var(--sa11y-shortcut-hover);
  }

  &:after {
    position: absolute;
    top: -7px;
    right: -7px;
    bottom: -7px;
    left: -7px;
    content: "";
    background: var(--sa11y-setting-switch-bg-off);
    mask: var(--sa11y-close-btn-svg) center no-repeat;
  }

  @media screen and (forced-colors: active) {
    &:after {
      filter: invert(1);
    }
  }
}

/* ************************************************************** */
/*  Global keyboard focus styles for control panel.               */
/* ************************************************************** */

/**
 * A) Default focus styles.
 **/
#container {

  [tabindex="0"]:focus,
  [tabindex="-1"]:focus,
  select:focus,
  button:not(#panel-controls button):not(.switch):focus,
  a:focus {
    outline: 0;
    box-shadow: 0 0 0 5px var(--sa11y-focus-color);
  }

  /* These elements MUST use inset outlines */
  .switch:focus,
  #panel-controls button:focus {
    outline: 0;
    box-shadow: inset 0 0 0 4px var(--sa11y-focus-color);
  }
}

/**
 * B) Remove default focus styles for mouse users ONLY if :focus-visible is supported.
 **/
#container {

  [tabindex="0"]:focus:not(:focus-visible),
  [tabindex="-1"]:focus:not(:focus-visible),
  button:focus:not(:focus-visible),
  select:focus:not(:focus-visible),
  #panel-controls button:focus:not(:focus-visible) {
    outline: 0;
    box-shadow: none;
  }
}

/**
 * C) :focus-visible is supported.
 **/
#container {

  a:focus-visible,
  button:not(#panel-controls button):not(.switch):focus-visible,
  select:focus-visible,
  [tabindex="0"]:focus-visible,
  [tabindex="-1"]:focus-visible {
    outline: 0;
    box-shadow: 0 0 0 5px var(--sa11y-focus-color);
  }

  // These elements MUST use inset outlines.
  .switch:focus-visible,
  #panel-controls button:focus-visible {
    outline: 0;
    box-shadow: inset 0 0 0 4px var(--sa11y-focus-color);
  }
}

/* ***************************************** */
/*        High contrast focus styles         */
/* ***************************************** */

@media screen and (forced-colors: active) {

  #panel-controls button:focus {
    border: inset 3px solid transparent;
  }

  .close-btn:focus {
    outline: transparent solid 3px !important;
  }

  // Control panel
  #container {

    a:focus,
    [tabindex="-1"]:focus,
    [tabindex="0"]:focus,
    select:focus,
    button:focus {
      outline: transparent solid 3px !important;
    }
  }
}