:root {
  --font-primary: system-ui, "Segoe UI", roboto, helvetica, arial, sans-serif;
  --font-secondary: Consolas, monaco, "Ubuntu Mono", "Liberation Mono", "Courier New", Courier, monospace;
  --body-text: #333;
  --bg-primary: #fff;
  --bg-secondary: #f6f8fa;
  --bg-tertiary: #d7d7d7;
  --link-primary: #004c9b;
  --red-text: #d30017;
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-text: #dde8ff;
    --bg-primary: #0a2051;
    --bg-secondary: #072c7c;
    --bg-tertiary: #0041c9;
    --link-primary: #64b2ff;
    --red-text: #fe5b5f;
  }
}

* {
  padding: 0;
  margin: 0;
}

article,
aside,
nav,
ol,
p,
pre,
section,
ul {
  margin-bottom: 1rem;
}

body {
  max-width: 70ch;
  padding: 2rem;
  margin: 0 auto;
  overflow-x: hidden;
  font-family: var(--font-primary);
  font-size: 1rem;
  line-height: 1.5;
  color: var(--body-text);
  word-break: break-word;
  overflow-wrap: break-word;
  background: var(--bg-primary);
}

.h1,
h1,
h2,
h3 {
  padding-top: .875rem;
  padding-bottom: 2px;
  margin-bottom: 8px;
  line-height: 1;
  color: var(--body-text);
}

.h1,
h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.3rem;
}

a {
  color: var(--link-primary);
}

hr {
  height: 5px;
  margin: 60px 0;
  background-color: #000;
  border: 0;
  opacity: .25;
}

a:hover,
a:focus {
  text-decoration: none;
}

header,
footer {
  padding: 2rem 1.5rem;
  padding-right: calc(50vw - 50%);
  padding-left: calc(50vw - 50%);
  background: var(--bg-secondary);
}

header {
  margin: -2rem calc(0px - (50vw - 50%)) 2rem;
  border-bottom: 1px solid var(--bg-tertiary);
}

footer {
  margin: 3rem calc(0px - (50vw - 50%)) -2rem;
  text-align: center;
  border-top: 1px solid var(--bg-tertiary);
}

header>*:first-child {
  padding-top: 0;
  margin-top: 0;
}

header>*:last-child {
  margin-bottom: 0;
}

code,
samp,
kbd,
pre {
  padding: 3px 6px;
  font-family: var(--font-secondary);
  font-size: .9rem;
  background: var(--bg-secondary);
  border: 1px solid var(--bg-tertiary);
  border-radius: 4px;
}

pre {
  display: block;
  max-width: 100%;
  padding: 1rem 1.4rem;
  overflow: auto;
}

pre code {
  padding: 0;
  margin: 0;
  font-size: inherit;
  color: inherit;
  background: inherit;
  border: 0;
}

code pre {
  display: inline;
  padding: 0;
  margin: 0;
  font-size: inherit;
  color: inherit;
  background: inherit;
  border: 0;
}

details {
  padding: .6rem 1rem;
  background: var(--bg-primary);
  border: 2px solid var(--link-primary);
  border-radius: 4px;
}

summary {
  font-weight: bold;
  cursor: pointer;
}

details[open] {
  padding-bottom: .75rem;
}

details[open] summary {
  margin-bottom: 6px;
}

details[open]>*:last-child {
  margin-bottom: 0;
}

.two-columns {
  display: flex;
}

.column {
  margin-inline-end: 20px;
  flex: 1;
}

.count {
  max-width: 220px;
}

.column dl {
  width: 100%;
}

dl {
  padding-top: 10px;
}

dt {
  font-weight: bold;
}

dd {
  padding-bottom: 10px;
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}

ul li {
  margin-bottom: .5rem;
}

ol,
ul {
  padding-left: 2rem;
}

li li:has(pre, img, iframe, video, audio) {
  margin-top: 1rem;
  list-style: none;
}

ol li:not(li li) {
  margin-bottom: 3rem;
}

img {
  display: block;
  max-width: 50%;
  border: 0;
}

iframe {
  display: block;
  width: 100%;
  border: 2px solid #808080;
}

.red-text {
  color: var(--red-text);
}

.visually-hidden {
  position: absolute;
  display: block;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
  border: 0;
  clip-path: inset(50%);
}

img {
  width: 80px;
}

main [id^="warning"],
main [id^="error"],
main [id^="nothing"],
main [id^="pass"] {
  position: relative;
  padding: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
  background: rgb(236, 236, 236);
  border: 2px dashed rgb(158, 158, 158);
}

[data-sa11y-active="true"] [id^="error"] {
  box-shadow: inset 6px 0 #ec0001;
}

[data-sa11y-active="true"] [id^="warning"] {
  box-shadow: inset 6px 0 #ffd226;
}

[data-sa11y-active="true"] [id^="pass"] {
  box-shadow: inset 6px 0 #37844e;
}

[data-sa11y-active="true"] [id^="nothing"] {
  box-shadow: inset 6px 0 #999;
}

.lotr::before {
  content: "(LOTR)";
}

.sr-only-example {
  padding: .3em;
  color: #fff;
  background: #323232;
  border: 1px dashed #808080;
  border-radius: .3em;
}

iframe {
  background: #808080;
}

.underline {
  text-decoration-line: underline;
}

.background-image {
  padding: 20px;
  background-color: #fa0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%23ffb100' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23ffb800' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23ffbe00' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23ffc500' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23ffcc00' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23ffd914' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23ffe529' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23ffef3d' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23fff852' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23ffff66' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

/* Default Table Style */
table {
  font-size: 12pt;
  color: #333;
  border-collapse: collapse;
  background: #fff;
  border: 1px solid #808080;
}

table th {
  background: rgb(224, 247, 255);
}

table th,
table td {
  padding: .5em;
  border: 1px solid #d3d3d3;
}